body {
  color: #fff;
}

#finalScore {
  border: solid 5px gold;
  margin-bottom: 1rem;
  padding: 1.5rem; 
  font-size: 3rem;
  text-align: center;
}

#highScoresList {
  list-style: none;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}